{% extends "home/base.html" %}

{% block content %}
{% block styles %}
<link rel="stylesheet" href="/static/css/style.css?{% now "U" %}"/>
{% endblock %}

<div class="frm">
<form method="post" novalidate>
  {% csrf_token %}
  
  <div class="reg_box">
    <div class="inp_box">
      {{form.username}}
      {{form.username.errors}}
      
    </div>
    <div class="inp_box">
      {{form.email}}
      {{form.email.errors}}
      
    </div>
    <div class="inp_box">
      {{form.password1}}
      
      {{form.password1.errors}}
    </div>
    <div class="inp_box">
      {{form.password2}}
      {{form.password2.errors}}
     
    </div>
    <div class="inp_box">
      {{form.mob}}
      {{form.mob.errors}}
    </div>
    <button type="submit" class="btn">რეგისტრაცია</button>
  </div>
  
    
  
  
</form>
</div>

{% endblock %}